<div class="keyboard">
  <div class="row" id="row-1">
    <button class="key" id="key-q" (click)="onKeyPress('q')">Q</button>
    <button class="key" id="key-w" (click)="onKeyPress('w')">W</button>
    <button class="key" id="key-e" (click)="onKeyPress('e')">E</button>
    <button class="key" id="key-r" (click)="onKeyPress('r')">R</button>
    <button class="key" id="key-t" (click)="onKeyPress('t')">T</button>
    <button class="key" id="key-y" (click)="onKeyPress('y')">Y</button>
    <button class="key" id="key-u" (click)="onKeyPress('u')">U</button>
    <button class="key" id="key-i" (click)="onKeyPress('i')">I</button>
    <button class="key" id="key-o" (click)="onKeyPress('o')">O</button>
    <button class="key" id="key-p" (click)="onKeyPress('p')">P</button>
  </div>

  <div class="row" id="row-2">
    <button class="key fake-key"></button>
    <button class="key" id="key-a" (click)="onKeyPress('a')">A</button>
    <button class="key" id="key-s" (click)="onKeyPress('s')">S</button>
    <button class="key" id="key-d" (click)="onKeyPress('d')">D</button>
    <button class="key" id="key-f" (click)="onKeyPress('f')">F</button>
    <button class="key" id="key-g" (click)="onKeyPress('g')">G</button>
    <button class="key" id="key-h" (click)="onKeyPress('h')">H</button>
    <button class="key" id="key-j" (click)="onKeyPress('j')">J</button>
    <button class="key" id="key-k" (click)="onKeyPress('k')">K</button>
    <button class="key" id="key-l" (click)="onKeyPress('l')">L</button>
    <button class="key fake-key"></button>
  </div>

  <div class="row" id="row-3">
    <button class="key key--large" id="key-enter" (click)="onKeyPress('enter')">Enter</button>
    <button class="key" id="key-z" (click)="onKeyPress('z')">Z</button>
    <button class="key" id="key-x" (click)="onKeyPress('x')">X</button>
    <button class="key" id="key-c" (click)="onKeyPress('c')">C</button>
    <button class="key" id="key-v" (click)="onKeyPress('v')">V</button>
    <button class="key" id="key-b" (click)="onKeyPress('b')">B</button>
    <button class="key" id="key-n" (click)="onKeyPress('n')">N</button>
    <button class="key" id="key-m" (click)="onKeyPress('m')">M</button>
    <button class="key key--large" id="key-backspace" (click)="onKeyPress('backspace')">Delete</button>
  </div>
</div>
