.keyboard {
  margin: auto;
  max-width: 420px;
}

.row {
  display: flex;

  :nth-child(1) {
    margin-left: 0;
  }

  &#row-2 {
    margin: 0.5rem auto;
  }
}

.key {
  flex: 1;
  border: 0;
  height: 58px;
  margin-left: 0.25rem;
  font-weight: 700;
  text-transform: uppercase;

  &.key--large {
    flex: 2;
  }
}

.fake-key {
  flex: 0.5;
  visibility: hidden;
}
