.guesses {
  display: flex;
  flex-flow: column;
  align-items: center;

  margin: 5rem 0;
}

.guess {
  display: flex;
  margin-bottom: 0.25rem;

  :nth-child(1) {
    margin-left: 0;
  }
}

.tile {
  width: 4rem;
  height: 4rem;
  border: 2px solid lightgray;
  margin-left: 0.25rem;
  background-color: transparent;
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;

  &.tile--no-match {
    background-color: lightgray;
  }

  &.tile--partial-match {
    background-color: lightgoldenrodyellow;
  }

  &.tile--full-match {
    background-color: lightgreen;
  }
}
